body {
  box-sizing: border-box;
  background-color: #fbfbfb;
}

.main-container {
  background-color: #ffffff !important;
  min-height: 100vh;
}

.subtitle {
  margin-top: -10px;
  margin-left: 2rem;
}
